// Import base css
@import '../../common/css/_base';

.status__container {
  flex-direction: column;
  display: flex;
}

.status__title-container {
  border-bottom: 1px solid #CCC;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 30px 0;
  margin: 0 10px;
  display: flex;
}

.status-code,
.status-message {
  margin: 0;
}

.status-code {
  font-weight: 300;
  font-size: 56px;
}

.status-code::after {
  margin: 0 10px;
  content: '|';
}

.status-message {
  font-weight: 300;
  font-size: 40px;
}

.status-details {
  padding-top: 50px;
  font-size: 20px;
  margin: 0 10px;
}

@media (max-width: $mobileBreak) {
  .status-code {
    font-size: 36px;
  }
  .status-message {
    font-size: 32px;
  }
}
