// Import base css
@import '../../common/css/_base';

.login__container {
  transform: translate(-50%, -50%);
  border-radius: 5px;
  position: absolute;
  padding: 10px 20px;
  background: white;
  width: 320px;
  left: 50%;
  top: 50%;
}

.login__form {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login__form-title {
  align-self: flex-start;
  margin: 5px 0;
}

.login__form-actions {
  justify-content: space-between;
  margin: 20px 0;
  width: 80%;
}
