@import '_variables';

// Defaults
html,
body {
  background: $theme-background;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  -webkit-tap-highlight-color: $transparent-background;
  box-sizing: border-box;
}

// Atomic classes
.hidden {
  display: none;
}

.relative {
  position: relative;
}

.shadow {
  box-shadow: 0 4px 8px $light-gray;
}

.flex {
  display: flex;
}

.no-outline {
  outline: none;
}

.pointer {
  cursor: pointer;
}

.table {
  display: table;
}

.table__row {
  display: table-row;
}

.table__cell {
  display: table-cell;
}

@import '_grid';
