// Mobile variables
$mobileBreak: 950px;

// Theme variables
$theme-background: #ECEFF1;
$theme-highlight: #FF0000;
$theme-disabled: #BDBDBD;
$theme-header: #00BCD4;

// Common color shades
$light-gray: #B0BEC5;
$dark-gray: #546E7A;

// Other variables
$transparent-background: rgba(0, 0, 0, 0);
