// Import base css
@import '../../../shared/client/css/_base';

.login__container {
  transform: translate(-50%, -50%);
  border-radius: 5px;
  position: absolute;
  padding: 15px 25px;
  background: white;
  width: 320px;
  left: 50%;
  top: 50%;
}

.login__form {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login__form-title {
  margin: 5px 0;
}

.login__form-input {
  border-color: lighten($light-gray, 10%);
  border-width: 0 0 1px 0;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.login__form-actions {
  justify-content: space-between;
  margin: 20px 0;
  width: 80%;
}

.login__form-buttons {
  width: 100px;
}
